#kt_body {
    --kt-toolbar-height:55px;
    --kt-toolbar-height-tablet-and-mobile:55px;
}

.background-pattern {
    background-image:url(../../components/assets/img/bg/pattern-1.jpg);
}

.height-200 {
    height: 200px;
}

.height-175 {
    height: 175px
}

.height-150 {
    height: 150px;
}

.width-50 {
    width: 50%;
}