@media (min-width:992px) {
    .aside-enabled.aside-fixed.toolbar-fixed .toolbar{
        left:265px;
        transition:left .3s ease
    }

    .aside-enabled.aside-fixed.toolbar-fixed[data-kt-aside-minimize=on] .toolbar{
        left:75px;
        transition:left .3s ease
    }
}


.aside{
display:flex;
flex-direction:column;
box-shadow:0 0 28px 0 rgba(82,63,105,.05);
padding:0
}

.aside .btn-custom{
display:flex;
align-items:center;
justify-content:center;
padding-left:0;
padding-right:0
}

.aside .btn-custom .btn-label{
transition:opacity .3s ease;
display:inline-block;
white-space:nowrap;
overflow:hidden;
opacity:1
}

.aside .btn-custom .btn-icon{
display:inline-block;
transition:opacity .3s ease;
overflow:hidden;
opacity:0;
margin:0;
width:0
}

.aside.aside-dark{
background-color:#1e1e2d
}

.aside.aside-dark .aside-logo{
background-color:#1a1a27
}

.aside.aside-dark .aside-toggle svg [fill]:not(.permanent):not(g){
transition:fill .3s ease;
fill:#494b74
}

.aside.aside-dark .aside-toggle svg:hover [fill]:not(.permanent):not(g){
transition:fill .3s ease
}

.aside.aside-dark .separator{
border-bottom-color:#282a3d
}

.aside.aside-dark .btn-custom{
color:#b5b5c3;
background-color:rgba(63,66,84,.35)
}

.aside.aside-dark .btn-custom.active,.aside.aside-dark .btn-custom.show,.aside.aside-dark .btn-custom:active:not(.btn-active),.aside.aside-dark .btn-custom:focus:not(.btn-active),.aside.aside-dark .btn-custom:hover:not(.btn-active),.btn-check:active+.aside.aside-dark .btn-custom,.btn-check:checked+.aside.aside-dark .btn-custom,.show>.aside.aside-dark .btn-custom{
color:#b5b5c3;
background-color:rgba(63,66,84,.35)!important
}

.aside.aside-dark .btn-custom .btn-icon{
color:#b5b5c3
}

.aside.aside-dark .btn-custom .btn-icon svg [fill]:not(.permanent):not(g){
transition:fill .3s ease;
fill:#b5b5c3
}

.aside.aside-dark .btn-custom .btn-icon svg:hover [fill]:not(.permanent):not(g){
transition:fill .3s ease
}

.aside.aside-light{
background-color:#fff
}

.logo-color-light{
    color: white;
    margin: 0;
}

@media (min-width:992px){
    .aside{
        width:265px;
        transition:width .3s ease
    }

    .aside .aside-logo{
        display:flex;
        justify-content:space-between;
        align-items:center;
        height:65px;
        padding:0 25px  
    }

    .aside .aside-menu{
        width:265px
    }

    .aside-fixed .aside{
        position:fixed;
        top:0;
        bottom:0;
        left:0;
        z-index:101;
        overflow:hidden
    }

    .aside-static .aside{
    position:relative;
    z-index:1
    }

    [data-kt-aside-minimize=on] .aside{
        width:75px;
        transition:width .3s ease
    }

    [data-kt-aside-minimize=on] .aside .aside-logo .logo-default{
        display:inline-block
    }

    [data-kt-aside-minimize=on] .aside .aside-logo .logo-minimize{
        display:none
    }

    [data-kt-aside-minimize=on] .aside.aside-hoverable:hover:not(.animating){
        transition:width .3s ease;
        width:265px;
        box-shadow:5px 0 10px rgba(70,78,95,.075)
    }

    [data-kt-aside-minimize=on] .aside:not(.aside-hoverable) .aside-logo,[data-kt-aside-minimize=on] .aside:not(:hover) .aside-logo{
    justify-content:center
    }

    [data-kt-aside-minimize=on] .aside:not(.aside-hoverable) .aside-logo .logo,[data-kt-aside-minimize=on] .aside:not(:hover) .aside-logo .logo{
    display:none
    }

    [data-kt-aside-minimize=on] .aside:not(.aside-hoverable) .aside-logo .logo-default,[data-kt-aside-minimize=on] .aside:not(:hover) .aside-logo .logo-default{
    display:none
    }

    [data-kt-aside-minimize=on] .aside:not(.aside-hoverable) .aside-logo .logo-minimize,[data-kt-aside-minimize=on] .aside:not(:hover) .aside-logo .logo-minimize{
    display:inline-block
    }

    [data-kt-aside-minimize=on] .aside:not(.aside-hoverable) .aside-menu .menu-content,[data-kt-aside-minimize=on] .aside:not(.aside-hoverable) .aside-menu .menu-title,[data-kt-aside-minimize=on] .aside:not(:hover) .aside-menu .menu-content,[data-kt-aside-minimize=on] .aside:not(:hover) .aside-menu .menu-title{
    opacity:0;
    transition:opacity .3s ease
    }

    [data-kt-aside-minimize=on] .aside:not(.aside-hoverable) .aside-menu .menu-item.show>.menu-sub,[data-kt-aside-minimize=on] .aside:not(:hover) .aside-menu .menu-item.show>.menu-sub{
    height:0;
    overflow:hidden;
    transition:height .3s ease
    }

    [data-kt-aside-minimize=on] .aside:not(.aside-hoverable) .btn-custom .btn-label,[data-kt-aside-minimize=on] .aside:not(:hover) .btn-custom .btn-label{
    width:0;
    opacity:0;
    transition:opacity .3s ease
    }

    [data-kt-aside-minimize=on] .aside:not(.aside-hoverable) .btn-custom .btn-icon,[data-kt-aside-minimize=on] .aside:not(:hover) .btn-custom .btn-icon{
    width:auto;
    opacity:1;
    transition:opacity .3s ease
    }
}

@media (max-width:991.98px){
    .aside{
        display:none
    }

    .aside .aside-logo{
        display:none
    }
}

.aside-menu .menu .menu-item .menu-content,.aside-menu .menu .menu-item .menu-link{
    padding-left:25px;
    padding-right:25px
}

.aside-menu .menu .menu-sub:not([data-popper-placement])>.menu-item>.menu-content,.aside-menu .menu .menu-sub:not([data-popper-placement])>.menu-item>.menu-link{
    padding-left:calc(.75rem + 25px)
}

.aside-menu .menu .menu-sub:not([data-popper-placement])>.menu-item>.menu-sub:not([data-popper-placement])>.menu-item>.menu-content,.aside-menu .menu .menu-sub:not([data-popper-placement])>.menu-item>.menu-sub:not([data-popper-placement])>.menu-item>.menu-link{
    padding-left:calc(1.5rem + 25px)
}

.aside-menu .menu .menu-sub:not([data-popper-placement])>.menu-item>.menu-sub:not([data-popper-placement])>.menu-item>.menu-sub:not([data-popper-placement])>.menu-item>.menu-content,.aside-menu .menu .menu-sub:not([data-popper-placement])>.menu-item>.menu-sub:not([data-popper-placement])>.menu-item>.menu-sub:not([data-popper-placement])>.menu-item>.menu-link{
    padding-left:calc(2.25rem + 25px)
}

.aside-menu .menu .menu-sub:not([data-popper-placement])>.menu-item>.menu-sub:not([data-popper-placement])>.menu-item>.menu-sub:not([data-popper-placement])>.menu-item>.menu-sub:not([data-popper-placement])>.menu-item>.menu-content,.aside-menu .menu .menu-sub:not([data-popper-placement])>.menu-item>.menu-sub:not([data-popper-placement])>.menu-item>.menu-sub:not([data-popper-placement])>.menu-item>.menu-sub:not([data-popper-placement])>.menu-item>.menu-link{
    padding-left:calc(3rem + 25px)
}

.menu-fit .aside-menu .menu .menu-sub:not([data-popper-placement])>.menu-item>.menu-content,.menu-fit .aside-menu .menu .menu-sub:not([data-popper-placement])>.menu-item>.menu-link{
    padding-left:.75rem;
    padding-right:0
}

.menu-fit .aside-menu .menu .menu-sub:not([data-popper-placement])>.menu-item>.menu-sub:not([data-popper-placement])>.menu-item>.menu-content,.menu-fit .aside-menu .menu .menu-sub:not([data-popper-placement])>.menu-item>.menu-sub:not([data-popper-placement])>.menu-item>.menu-link{
    padding-left:calc(1.5rem);
    padding-right:0
}

.menu-fit .aside-menu .menu .menu-sub:not([data-popper-placement])>.menu-item>.menu-sub:not([data-popper-placement])>.menu-item>.menu-sub:not([data-popper-placement])>.menu-item>.menu-content,.menu-fit .aside-menu .menu .menu-sub:not([data-popper-placement])>.menu-item>.menu-sub:not([data-popper-placement])>.menu-item>.menu-sub:not([data-popper-placement])>.menu-item>.menu-link{
    padding-left:calc(2.25rem);
    padding-right:0
}

.menu-fit .aside-menu .menu .menu-sub:not([data-popper-placement])>.menu-item>.menu-sub:not([data-popper-placement])>.menu-item>.menu-sub:not([data-popper-placement])>.menu-item>.menu-sub:not([data-popper-placement])>.menu-item>.menu-content,.menu-fit .aside-menu .menu .menu-sub:not([data-popper-placement])>.menu-item>.menu-sub:not([data-popper-placement])>.menu-item>.menu-sub:not([data-popper-placement])>.menu-item>.menu-sub:not([data-popper-placement])>.menu-item>.menu-link{
    padding-left:calc(3rem);
    padding-right:0
}

.aside-menu .menu-item{
    padding:0
}

.aside-menu .menu-item .menu-link{
    padding-top:.75rem;
    padding-bottom:.75rem
}

.aside-menu .menu-item .menu-icon{
    justify-content:flex-start
}

.aside-dark .hover-scroll-overlay-y{
    --scrollbar-space:0.4rem;
    scrollbar-color:#3b3b64 transparent
}

.aside-dark .hover-scroll-overlay-y::-webkit-scrollbar-thumb{
    background-color:#3b3b64
}

.aside-dark .hover-scroll-overlay-y:hover{
    scrollbar-color:#41416e transparent
}

.aside-dark .hover-scroll-overlay-y:hover::-webkit-scrollbar-thumb{
    background-color:#41416e
}

.aside-dark .menu .menu-item .menu-section{
    color:#4c4e6f!important
}

.aside-dark .menu .menu-item .menu-link{
    color:#9899ac
}

.aside-dark .menu .menu-item .menu-link .menu-title{
    color:#9899ac
}

.aside-dark .menu .menu-item .menu-link .menu-icon i{
    color:#494b74
}

.aside-dark .menu .menu-item .menu-link .menu-icon .svg-icon svg [fill]:not(.permanent):not(g){
    transition:fill .3s ease;
    fill:#494b74
}

.aside-dark .menu .menu-item .menu-link .menu-icon .svg-icon svg:hover [fill]:not(.permanent):not(g){
    transition:fill .3s ease
}

.aside-dark .menu .menu-item .menu-link .menu-bullet .bullet{
    background-color:#9899ac
}

.aside-dark .menu .menu-item .menu-link .menu-arrow:after{
    background-repeat:no-repeat;
    background-position:center;
    background-color:transparent;
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 9' fill='%239899ac'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.06463 4.42111C1.96161 4.22088 1.9809 3.9637 2.12863 3.78597L5.12847 0.177181C5.31402 -0.046034 5.63049 -0.060261 5.83532 0.145404C6.04015 0.351069 6.05578 0.698744 5.87023 0.921959L3.19406 4.14137L5.84414 7.06417C6.03896 7.27904 6.03835 7.62686 5.84278 7.84105C5.64721 8.05524 5.33073 8.05469 5.13591 7.83982L2.14806 4.54449C2.1141 4.50704 2.08629 4.46541 2.06463 4.42111Z'/%3e%3c/svg%3e");
    background-repeat:no-repeat;
    background-position:center;
    background-color:transparent;
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 9' fill='%239899ac'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.93537 4.57889C6.03839 4.77912 6.0191 5.0363 5.87137 5.21403L2.87153 8.82282C2.68598 9.04603 2.36951 9.06026 2.16468 8.8546C1.95985 8.64893 1.94422 8.30126 2.12977 8.07804L4.80594 4.85863L2.15586 1.93583C1.96104 1.72096 1.96165 1.37314 2.15722 1.15895C2.35279 0.944757 2.66927 0.945311 2.86409 1.16018L5.85194 4.45551C5.8859 4.49296 5.91371 4.53459 5.93537 4.57889Z'/%3e%3c/svg%3e")
}

.aside-dark .menu .menu-item .menu-link:hover:not(.disabled):not(.active),.aside-dark .menu .menu-item.hover>.menu-link:not(.disabled):not(.active){
    transition:color .2s ease,background-color .2s ease;
    background-color:#1b1b28;
    color:#fff
}

.aside-dark .menu .menu-item .menu-link:hover:not(.disabled):not(.active) .menu-title,.aside-dark .menu .menu-item.hover>.menu-link:not(.disabled):not(.active) .menu-title{
    color:#fff
}

.aside-dark .menu .menu-item .menu-link:hover:not(.disabled):not(.active) .menu-icon i,.aside-dark .menu .menu-item.hover>.menu-link:not(.disabled):not(.active) .menu-icon i{
    color:#009ef7
}

.aside-dark .menu .menu-item .menu-link:hover:not(.disabled):not(.active) .menu-icon .svg-icon svg [fill]:not(.permanent):not(g),.aside-dark .menu .menu-item.hover>.menu-link:not(.disabled):not(.active) .menu-icon .svg-icon svg [fill]:not(.permanent):not(g){
    transition:fill .3s ease;
    fill:#009ef7
}

.aside-dark .menu .menu-item .menu-link:hover:not(.disabled):not(.active) .menu-icon .svg-icon svg:hover [fill]:not(.permanent):not(g),.aside-dark .menu .menu-item.hover>.menu-link:not(.disabled):not(.active) .menu-icon .svg-icon svg:hover [fill]:not(.permanent):not(g){
    transition:fill .3s ease
}

.aside-dark .menu .menu-item .menu-link:hover:not(.disabled):not(.active) .menu-bullet .bullet,.aside-dark .menu .menu-item.hover>.menu-link:not(.disabled):not(.active) .menu-bullet .bullet{
    background-color:#009ef7
}

.aside-dark .menu .menu-item .menu-link:hover:not(.disabled):not(.active) .menu-arrow:after,.aside-dark .menu .menu-item.hover>.menu-link:not(.disabled):not(.active) .menu-arrow:after{
    background-repeat:no-repeat;
    background-position:center;
    background-color:transparent;
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 9' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.06463 4.42111C1.96161 4.22088 1.9809 3.9637 2.12863 3.78597L5.12847 0.177181C5.31402 -0.046034 5.63049 -0.060261 5.83532 0.145404C6.04015 0.351069 6.05578 0.698744 5.87023 0.921959L3.19406 4.14137L5.84414 7.06417C6.03896 7.27904 6.03835 7.62686 5.84278 7.84105C5.64721 8.05524 5.33073 8.05469 5.13591 7.83982L2.14806 4.54449C2.1141 4.50704 2.08629 4.46541 2.06463 4.42111Z'/%3e%3c/svg%3e");
    background-repeat:no-repeat;
    background-position:center;
    background-color:transparent;
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 9' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.93537 4.57889C6.03839 4.77912 6.0191 5.0363 5.87137 5.21403L2.87153 8.82282C2.68598 9.04603 2.36951 9.06026 2.16468 8.8546C1.95985 8.64893 1.94422 8.30126 2.12977 8.07804L4.80594 4.85863L2.15586 1.93583C1.96104 1.72096 1.96165 1.37314 2.15722 1.15895C2.35279 0.944757 2.66927 0.945311 2.86409 1.16018L5.85194 4.45551C5.8859 4.49296 5.91371 4.53459 5.93537 4.57889Z'/%3e%3c/svg%3e")
}

.aside-dark .menu .menu-item.here>.menu-link,.aside-dark .menu .menu-item.show>.menu-link{
    transition:color .2s ease,background-color .2s ease;
    background-color:#1b1b28;
    color:#fff
}

.aside-dark .menu .menu-item.here>.menu-link .menu-title,.aside-dark .menu .menu-item.show>.menu-link .menu-title{
color:#fff
}

.aside-dark .menu .menu-item.here>.menu-link .menu-icon i,.aside-dark .menu .menu-item.show>.menu-link .menu-icon i{
    color:#009ef7
}

.aside-dark .menu .menu-item.here>.menu-link .menu-icon .svg-icon svg [fill]:not(.permanent):not(g),.aside-dark .menu .menu-item.show>.menu-link .menu-icon .svg-icon svg [fill]:not(.permanent):not(g){
    transition:fill .3s ease;
    fill:#009ef7
}

.aside-dark .menu .menu-item.here>.menu-link .menu-icon .svg-icon svg:hover [fill]:not(.permanent):not(g),.aside-dark .menu .menu-item.show>.menu-link .menu-icon .svg-icon svg:hover [fill]:not(.permanent):not(g){
    transition:fill .3s ease
}

.aside-dark .menu .menu-item.here>.menu-link .menu-bullet .bullet,.aside-dark .menu .menu-item.show>.menu-link .menu-bullet .bullet{
    background-color:#009ef7
}

.aside-dark .menu .menu-item.here>.menu-link .menu-arrow:after,.aside-dark .menu .menu-item.show>.menu-link .menu-arrow:after{
    background-repeat:no-repeat;
    background-position:center;
    background-color:transparent;
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 9' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.06463 4.42111C1.96161 4.22088 1.9809 3.9637 2.12863 3.78597L5.12847 0.177181C5.31402 -0.046034 5.63049 -0.060261 5.83532 0.145404C6.04015 0.351069 6.05578 0.698744 5.87023 0.921959L3.19406 4.14137L5.84414 7.06417C6.03896 7.27904 6.03835 7.62686 5.84278 7.84105C5.64721 8.05524 5.33073 8.05469 5.13591 7.83982L2.14806 4.54449C2.1141 4.50704 2.08629 4.46541 2.06463 4.42111Z'/%3e%3c/svg%3e");
    background-repeat:no-repeat;
    background-position:center;
    background-color:transparent;
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 9' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.93537 4.57889C6.03839 4.77912 6.0191 5.0363 5.87137 5.21403L2.87153 8.82282C2.68598 9.04603 2.36951 9.06026 2.16468 8.8546C1.95985 8.64893 1.94422 8.30126 2.12977 8.07804L4.80594 4.85863L2.15586 1.93583C1.96104 1.72096 1.96165 1.37314 2.15722 1.15895C2.35279 0.944757 2.66927 0.945311 2.86409 1.16018L5.85194 4.45551C5.8859 4.49296 5.91371 4.53459 5.93537 4.57889Z'/%3e%3c/svg%3e")
}

.aside-dark .menu .menu-item .menu-link.active{
    transition:color .2s ease,background-color .2s ease;
    background-color:#1b1b28;
    color:#fff
}

.aside-dark .menu .menu-item .menu-link.active .menu-title{
    color:#fff
}

.aside-dark .menu .menu-item .menu-link.active .menu-icon i{
    color:#009ef7
}

.aside-dark .menu .menu-item .menu-link.active .menu-icon .svg-icon svg [fill]:not(.permanent):not(g){
    transition:fill .3s ease;
    fill:#009ef7
}

.aside-dark .menu .menu-item .menu-link.active .menu-icon .svg-icon svg:hover [fill]:not(.permanent):not(g){
    transition:fill .3s ease
}

.aside-dark .menu .menu-item .menu-link.active .menu-bullet .bullet{
    background-color:#009ef7
}

.aside-dark .menu .menu-item .menu-link.active .menu-arrow:after{
    background-repeat:no-repeat;
    background-position:center;
    background-color:transparent;
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 9' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.06463 4.42111C1.96161 4.22088 1.9809 3.9637 2.12863 3.78597L5.12847 0.177181C5.31402 -0.046034 5.63049 -0.060261 5.83532 0.145404C6.04015 0.351069 6.05578 0.698744 5.87023 0.921959L3.19406 4.14137L5.84414 7.06417C6.03896 7.27904 6.03835 7.62686 5.84278 7.84105C5.64721 8.05524 5.33073 8.05469 5.13591 7.83982L2.14806 4.54449C2.1141 4.50704 2.08629 4.46541 2.06463 4.42111Z'/%3e%3c/svg%3e");
    background-repeat:no-repeat;
    background-position:center;
    background-color:transparent;
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 9' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.93537 4.57889C6.03839 4.77912 6.0191 5.0363 5.87137 5.21403L2.87153 8.82282C2.68598 9.04603 2.36951 9.06026 2.16468 8.8546C1.95985 8.64893 1.94422 8.30126 2.12977 8.07804L4.80594 4.85863L2.15586 1.93583C1.96104 1.72096 1.96165 1.37314 2.15722 1.15895C2.35279 0.944757 2.66927 0.945311 2.86409 1.16018L5.85194 4.45551C5.8859 4.49296 5.91371 4.53459 5.93537 4.57889Z'/%3e%3c/svg%3e")
}

.aside-light .menu .menu-title{
    font-weight:500
}

.print-content-only .aside,.print-content-only .btn,.print-content-only .drawer,.print-content-only .footer,.print-content-only .header,.print-content-only .scrolltop,.print-content-only .sidebar,.print-content-only .toolbar{
    display:none!important
}

.aside-enabled.aside-fixed .wrapper{
    transition:padding-left .3s ease;
    padding-left:265px
}

.aside-enabled.aside-fixed[data-kt-aside-minimize=on] .wrapper{
    transition:padding-left .3s ease;
    padding-left:75px
}

.aside-enabled.aside-fixed.header-fixed .header{
    left:265px;
    transition:left .3s ease
}

.aside-enabled.aside-fixed.header-fixed[data-kt-aside-minimize=on] .header{
    left:75px;
    transition:left .3s ease
}