.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.align-items {
    align-items: center;
}

/* #kt_menu_options {} */

.show-custom{
  position: absolute;
  right: 2%;
  top: 100%;
}



